RewriteEngine On
RewriteCond %{HTTP_HOST} ^latablen.saro.website
RewriteRule (.*) http://www.latablen.saro.website/$1 [R=301,L]

# One month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

