@import "../base/fonts";
@import "../base/colors";

  #logo {
    position: relative;
    top: 75%;
    width: 200px;
  }

  @media screen and (min-width: 1000px){
    #logo {
      position: relative;
      top: 75%;
      width: 200px;
    }
  }