@import "../base/fonts";
@import "../base/colors";

#logo {
  position: relative;
  top: 7px;
  right: 5px;
  margin-left: 15px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  flex-direction: column;
  img{
    position: absolute;
    left: 45px;
    top: -15px;
    transform: rotate(20deg);
    filter: invert(20%) sepia(0%) saturate(15%) hue-rotate(130deg) brightness(2000%) contrast(100%);
    width: 50px;
  }
  p{
    font-family: $font-brand;
    font-size: 1rem;
    color: #fff;
    text-shadow: 2px 2px 8px #111;
  }
  p:last-child{
    position: relative;
    left: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  #logo {
    width: fit-content;
    top: 25px;
    right: 40px;
    img{
      left: 75px;
      width: 75px;
    }
    p{
      font-size: 2rem;
    }
    p:last-child{
      position: relative;
      left: 50px;
    }
  }
  nav.open{
    #logo{
      #logo {
        width: fit-content;
        top: 0;
        right: 0;
    }
    {
      p, p:last-child{
        font-size: 1.5rem;
      }
      img{
        left: 55px;
        width: 75px;
      }
    }
  }
}
