@import "../base/fonts";
@import "../base/colors";

#logo {
  position: relative;
  top: 7px;
  right: 5px;
  margin-left: 15px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  flex-direction: column;
  img{
    position: absolute;
    left: 45px;
    top: -15px;
    transform: rotate(20deg);
    filter: invert(20%) sepia(0%) saturate(15%) hue-rotate(130deg) brightness(2000%) contrast(100%);
  }
  p{
    font-family: $font-brand;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 8px #111;
  }
  p:last-child{
    position: relative;
    left: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  #logo {
    width: fit-content;
    top: 0;
    right: 40px;
    p{
      font-family: $font-brand;
      font-size: 2rem;
      color: #fff;
      text-shadow: 2px 2px 8px #111;
    }
    p:last-child{
      position: relative;
      left: 50px;
    }
  }
}
