@import "./../base/fonts";
@import "./../base/colors";

nav,
nav.open {
  position: relative;
  top: 0;
  width: 100%;
  max-height: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 35px;
    transform: translate(-25%, -50%);
    z-index: 2;
  }
  .hamburger {
    animation-name: blur;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    .bar {
      width: 28px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .nav-links {
    opacity: 0;
    animation-name: linksClose;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 1s;
    transition: background-color 1s ease;
  }
  .nav-links.open {
    display: flex;
    height: 100vh;
    background-color: $color-base;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    animation-name: links;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 0.6s;
    transition: background-color 1s ease;
  }
  .nav-links.open li {
    padding-bottom: 50px;
    opacity: 1;
  }
  .nav-links.open a {
    font-family: $font-primary;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
  }
  li.fade {
    opacity: 1;
  }
  .nav-links li {
    opacity: 0;
  }
  .contact {
    box-shadow: unset;
    border: unset;
    border-color: transparent;
  }
}
nav.open {
  background-color: $color-base !important;
  transition: background-color 0.8s ease-in-out;
}

@media only screen and (min-width: 1200px) {
  nav,
  nav.open {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
    z-index: 5;
    .hamburger {
      display: none;
    }
    .nav-links {
      display: flex;
      opacity: 1;
      list-style: none;
      margin-right: 7rem;
      animation: none;
    }
    .nav-links::after {
      content: "hello world";
      width: 100%;
    }
    .nav-links li {
      padding-left: 2.8rem;
      opacity: 1;
    }
    .nav-links li a {
      font-family: $font-primary;
      color: #fff;
      text-decoration: none;
      text-shadow: 2px 2px 8px #111;
      font-size: 1.2rem;
      font-weight: 600;
      &:hover,
      &:focus {
        color: rgba(255, 243, 131, 0.959);
        font-weight: 600;
      }
    }
  }
}
