$color-primary: #BD8182;
$color-secondary: rgba(255, 243, 131, 0.959);
$color-tertiary: #72ACFF;
$color-quaternary: #FA6980;
$color-successful: #52E5BA;
$color-basic: #FFF5F5;
$color-base: #FF8E93;
$color-ourGrey: #A6ADB4;
$color-default: #2F2C23;
$color-delta: #FFC96C;
$invalid: #e91e63;