@import "./../base/colors";
@import "./../base/fonts";

#error,
#sent,
#sentApply,
#errorApply {
  display: none;
  font-family: $font-primary;
  font-size: 15px;
  font-weight: 500;
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  text-align: center;
}

#error,
#errorApply {
  background: $invalid;
  border: 1px solid red;
  color: $color-basic;
}

#sent,
#sentApply {
  background: $color-successful;
  border: 1px solid green;
  color: green;
}

.nameValid,
.emailValid,
.policyValid,
.emailApplyValid,
.nameApplyValid,
.addressValid,
.peopleValid,
.dateValid,
.phoneValid {
  text-align: center;
  color: $invalid;
  font-size: 12px;
  font-family: $font-primary;
}

.policyValid {
  margin-top: 2px;
  margin-bottom: 20px;
}

.notif {
  display: flex;
  justify-content: center;
}